<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }} (PlotKit JavaScript plotting/chart drawing library documentation)</title>
    <link href="../stylesheets/doc.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://github.com/ept/plotkit/raw/master/PlotKit/MochiKit.js"></script>
    <script type="text/javascript" src="http://github.com/ept/plotkit/raw/master/PlotKit/Base.js"></script>
    <script type="text/javascript" src="http://github.com/ept/plotkit/raw/master/PlotKit/Layout.js"></script>
    <script type="text/javascript" src="http://github.com/ept/plotkit/raw/master/PlotKit/Canvas.js"></script>
    <script type="text/javascript" src="http://github.com/ept/plotkit/raw/master/PlotKit/SweetCanvas.js"></script>
</head>

<body>
    <div class="page doc">
        <h1>{{ page.title }}</h1>

        {{ content }}
    </div>
</body>
</html>
